* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-color: #595c66;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.load-images {
  z-index: 1000;
  font-size: 2rem;
  position: absolute;
  padding: 2px;
}

.canvas-wrapper {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: lightgray;
}

.sidebar {
  position: absolute;
  background-color: rgba(62, 65, 75, 0.9);
  width: 26rem;
  height: 80%;
  right: 0;
  top: 0;
}

.sidebar-image-name-container {
  height: 2.5rem;
  background-color: #222326;
  padding: .5rem;
}

.sidebar-tabs {
  white-space: nowrap;
  height: 2.5rem;
}

.sidebar-tab {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding-top: .5rem;
}

.adjustments-tab {
  background-color: #4a90e2;
}

.sidebar-header-box {
  height: 3rem;
  background-color: #33373f;
  text-align: center;
  line-height: 3rem;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
}

.sidebar-align-options, .sidebar-adjust-options {
  height: 20rem;
}

.annotation-options {
  display: none;
}

